{% extends "base.html" %}

{% block extras %}
<script type="module">
	import githubmarkdownToolbarElement from 'https://cdn.jsdelivr.net/npm/@github/markdown-toolbar-element@2.2.3/+esm'
</script>
		<script src="{{ Config.ExportPrefix }}assets/tom-select.complete@2.4.2.js"></script>
		<script src="{{ Config.ExportPrefix }}assets/luxon.min.js"></script>
		<link href="{{ Config.ExportPrefix }}assets/tom-select@2.3.1.css" rel="stylesheet">
		<script src="{{ Config.ExportPrefix }}assets/tribute.min.js"></script>
		<link href="{{ Config.ExportPrefix }}assets/tribute.css" rel="stylesheet">
{% endblock %}
