<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="theme-color" content="#ffffff"/>
		{% block manifest %}
		<link rel="manifest" href="{{ Config.ExportPrefix }}manifest.json">
		{% endblock %}

		<title>{% block title %}{% endblock %}</title>
		<script src="{{ Config.ExportPrefix }}assets/index.js"></script>
		<link rel="icon" type="image/x-icon" href="{{ Config.ExportPrefix }}assets/favicon.ico">
		<link rel="stylesheet" href="{{ Config.ExportPrefix }}assets/bootstrap.css">
		<script>
			document.documentElement.setAttribute('data-bs-theme', (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'))
		</script>

        <link rel="license" href="https://spdx.org/licenses/CC-BY-4.0">
        <meta name="theme-color" content="#ff0000"/>
	<meta name="description" content="{% block description %}{{ Config.About | e }}{% endblock %}">
	<meta property="og:site_name" content="{{ Config.Title | e }}">
	<meta property="og:title" content="{{ Config.Title | e }}">
		<script src="{{ Config.ExportPrefix }}assets/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
		<script src="{{ Config.ExportPrefix }}assets/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

{% block extras %}
<script src="{{ Config.ExportPrefix }}assets/luxon.min.js"></script>
{% endblock %}
	</head>
	<body>
		{% if username and username.thing.data.prefs and username.thing.data.prefs.locale %}
		<script>
			luxon.Settings.defaultLocale = "{{ username.thing.data.prefs.locale }}";
		</script>
		{% endif %}
		<header class="container-fluid">
			<div class="row">
				<nav class="navbar navbar-expand-xl bg-body-tertiary">
					<div class="container-fluid d-flex justify-content-between">
						<span class="logo">
							<img src="{{ Config.ExportPrefix }}assets/favicon.ico" width="40" height="40" alt="logo">&nbsp;
							<a class="navbar-brand" href="{{ Config.ExportPrefix }}index.html">{{ Config.Title }}</a>
						</span>


						{% if Config.IsServing %}
						<span class="me-2 ms-2">
							<a id="sync-status" href="{{ Config.ExportPrefix }}sync">{{ Config.sync_status }}</a>
						</span>
						{% endif %}

						{% if username %}
							<span>
								<a href="{{ username.view_url }}">
								{{ username.thing.data.username }}
								</a>
							</span>
						{% else %}
							<span>ANON</span>
						{% endif %}

						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<span></span>
							{% if Config.IsServing %}
							<div class="navbar-nav">
								{% if note and hasattr(note, 'thing') %}
									{% set params = "?parent=" + note.thing.urn.urn + "&backend=" + note.backend.name %}
								{% else %}
									{% set params = "" %}
								{% endif %}

								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								New ➕
								</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="{{ Config.ExportPrefix }}new{{ params }}">New</a></li>
									<li><hr class="dropdown-divider"></li>
									{% for app in oe.templates() %}
									<li><a class="dropdown-item" href="{{ Config.ExportPrefix }}new/{{ app }}/{{ params }}">New {{ app.title() }}</a></li>
									{% endfor %}
								</ul>

								{% if note and hasattr(note, 'thing') %}
								<a class="nav-link" style="text-wrap: nowrap" href="{{ Config.ExportPrefix }}edit/{{ note.backend.name }}/{{ note.thing.urn.urn }}" title="Edit">Edit 📝</a>
								<a class="nav-link" style="text-wrap: nowrap" href="{{ Config.ExportPrefix }}new/{{ note.thing.urn.urn }}" title="Duplicate">Duplicate ➿</a>
								<a class="nav-link" style="text-wrap: nowrap" href="{{ Config.ExportPrefix }}delete_question/{{ note.thing.urn.urn }}" title="Delete">Delete ❌</a>
								{% endif %}
								<a class="nav-link" style="text-wrap: nowrap" href="{{ Config.ExportPrefix }}sync" title="Sync">Sync 💫</a>
								<a class="nav-link" style="text-wrap: nowrap" href="{{ Config.ExportPrefix }}time{{ params }}" title="Log Time">Time ⏰</a> &nbsp;
							</div>
							{% endif %}

							<form action="{{ Config.ExportPrefix }}search.html" class="d-flex" role="search">
								<input class="form-control" type="search" name="title" id="search" size="24" style="width: unset" placeholder="search" aria-label="Search">
								<button class="btn btn-outline-success" type="submit">Search</button>
							</form>
						</div>
					</div>
				</nav>
			</div>
		</header>

		<main class="container-xl">
			{% block main %}{% endblock %}
		</main>

	<div class="container-xl">
	<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
		<div class="col mb-3">
			<a href="{{ Config.ExportPrefix }}index.html" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
				<img src="{{ Config.ExportPrefix }}assets/favicon.ico" width="40" height="40" alt="logo">&nbsp;
				{{ Config.Title }}
			</a>
			<p>{{ Config.About }}</p>
			<hr>
			<p><b style="color:red">DROP AND RUN</b></p>
			<p>DO NOT USE.</p>
		</div>

		<div class="col mb-3">
			<h5>About</h5>
			<ul class="nav flex-column">
				<li class="nav-item mb-2">EUPL-1.2</li>
				<li class="nav-item mb-2">Rev <a href="https://github.com/hexylena/project-management/commit/{{ Config.VcsRev }}">{{ Config.VcsRev }}</a></li>
				{% if Config.IsServing %}
				<li class="nav-item mb-2"><a href="/server/currently">System Logs</a></li>
				{% endif %}
			</ul>
		</div>

		<div class="col mb-3">
			<h5>Pages</h5>
			<ul class="nav flex-column">
				{% for pathed_page in pathed_pages.values() %}
				<li class="nav-item mb-2">
					<a href="{{ pathed_page.thing.urn.urn }}#url" class="nav-link p-0 text-body-secondary">{{ pathed_page.thing.data.title }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>

		<div class="col mb-3">
			<h5>Section</h5>
			<ul class="nav flex-column">
				<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
				<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
				<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
				<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
				<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
			</ul>
		</div>
	</footer>
	</div>

<script type="module">
import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';
mermaid.initialize({ startOnLoad: true });
await mermaid.run({
	querySelector: 'pre.mermaid,pre code.language-mermaid',
});

</script>

{% if Config.IsServing %}
<script>
function syncIt(){
	console.log("Syncing")
	fetch('{{ Config.ExportPrefix }}api/sync/auto')
		.then(response => response.text()) // send response body to next then chain
		.then(body => {
			console.log('here')
			if(body == '"OK"' || body == '"SOON"') {
				console.log("Done " + body)
				document.querySelector("#sync-status i")
					.classList = "ph ph-eye-closed"
			} else  {
				document.querySelector("#sync-status i")
					.classList = "ph ph-eye-slash"
			}
		}) // you can use response body here
}
setInterval(syncIt, 1000 * 60 * 10);
</script>
{% endif %}
		<!-- <link href="https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,MONO@-15..0,300..800,0..1,0..1&display=swap" rel="stylesheet"> -->
		<!-- <link rel="stylesheet" href="{{ Config.ExportPrefix }}assets/normalize@8.0.1.css"> -->
		<!-- <link rel="stylesheet" href="{{ Config.ExportPrefix }}assets/concrete@2.0.3.css"> -->
		<link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="Search {{ Config.Title }}" />
		<!-- <link rel="stylesheet" href="{{ Config.ExportPrefix }}assets/charts.min.css"> -->

	</body>
</html>
