{% extends "base.html" %}

{% block title %}{{ note.thing.data.title | e }} | {{ Config.Title | e }}{% endblock %}

{% block main %}
{% set cover = note.thing.data.cover_image(Config.ExportPrefix, oe) %}
{% if cover %}
<div>
	<img src="{{ cover }}" class="cover">
</div>
{% endif %}
<hgroup>
	<h1>
		{{ note.thing.data.icon }}
		{{ note.thing.data.title }}
	</h1>
</hgroup>

<table id="metadata">
	<caption>Metadata</caption>
	<thead>
		<tr>
			<th scope="col">Key</th>
			<th scope="col">Value</th>
		</tr>
	</thead>

	<tbody>

	<tr>
		<td scope="row">URN</td>
		<td>{{ note.thing.urn.urn }}</td>
	</tr>

	<tr>
		<td scope="row">Backend</td>
		<td>{{ note.backend.html_title }}</td>
	</tr>

	<!--
	{% if note.thing.data.parents %}
	<tr>
		<td scope="row">Parents</td>
		<td>{% for parent in note.thing.data.get_parents() %}
			<a href="{{ parent.urn }}#url">{{ parent.urn }}#title</a>
		{% endfor %}</td>
	</tr>
	{% endif %}
	-->

	<tr>
		<td scope="row">Ancestors</td>
		<td>{% for chain in oe.get_lineage(note) %}
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					{% for p in chain %}
					<li class="breadcrumb-item"><a href="{{ p.urn }}#url">{{ p.urn }}#title</a></li>
					{% endfor %}
				</ol>
			</nav>
		{% endfor %}</td>
	</tr>

	{% for tag in note.thing.data.tags %}
	<tr>
		<td scope="row">{{ tag.html_icon }} {{ tag.render_key(note.get_template(oe)) }}</td>

		{% if note.thing.data.type == 'template' %}
		<td>{{ tag.render() }}</td>
		{% else %}
		<td>{{ tag.render(note.get_template(oe)) }}</td>
		{% endif %}
	</tr>
	{% endfor %}

	<tr>
		<td scope="row">📅 Created</td>
		<td><time datetime="{{ note.thing.data.created }}">{{ note.thing.data.created }}</time></td>
	</tr>

	<tr>
		<td scope="row">📅 Updated</td>
		<td><time datetime="{{ note.thing.data.updated }}">{{ note.thing.data.updated }}</time></td>
	</tr>

	{% if note.get_template(oe) %}
	<tr>
		<td scope="row"> Template</td>
		<td>{{ note.get_template(oe).thing.urn.urn }}#link</td>
	</tr>
	{% endif %}

	{% if note.thing.data.type == 'form' %}
	<tr>
		<td scope="row">Important Links</td>
		<td>
			<a href="{{ Config.ExportPrefix }}form/{{ note.thing.urn.urn }}">Form</a>
			<a href="{{ Config.ExportPrefix }}download/{{ note.thing.data.has_attachment('data').urn }}">Download</a>
		</td>
	</tr>
	{% endif %}

	</tbody>
</table>

{% if note.thing.data.contents %}
{% for b in note.thing.data.contents %}
{{ b.render(oe, Config.ExportPrefix, note.thing) }}
{% endfor %}
{% endif %}

{% if note.thing.data.type == 'form' %}
<h3>Form Responses</h3>
{{ note.thing.data.form_responses(oe).render_html_table() }}
{% endif %}



<hr/>

{% if note.thing.data.attachments %}
<details>
	<summary><h3>Attachments</h3></summary>
<table>
	<!-- <caption>Attachments</caption> -->
	<thead>
		<tr>
			<th scope="col">Attachment</th>
			<!-- <th scope="col">Created</th> -->
			<!-- <th scope="col">Updated</th> -->
			<th scope="col">Size</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
	{% for identifier, att in note.thing.data.attachments %}
	<tr>
		{% set blob = oe.find_blob(att) %}
		<td>
			<form method="patch" action="/note/atts" class="d-flex">
				<a href="{{ Config.ExportPrefix }}{{ blob.thing.url }}">
					<img src="{{ Config.ExportPrefix }}{{ blob.thing.url }}" width="80"/>
				</a>
				<input type="hidden" name="note" value="{{ note.thing.urn.urn }}">
				<input type="hidden" name="atts" value="{{ blob.thing.urn.urn }}">
				<input type="hidden" name="identifier_old" value="{{ identifier }}" />
				<input type="hidden" name="action" value="rename-blob">
				{% if Config.IsServing %}
				<input type="text" name="identifier_new" value="{{ identifier }}"  />
				{% else %}
				{{ identifier }}
				{% endif %}
				<span class="result" style="align-content: center" aria-live="polite">
					<div class="d-none state-success" role="status">
						✔️<span class="visually-hidden">Success</span>
					</div>
					<div class="d-none state-error" role="status">
						❌<span class="visually-hidden">Error</span>
					</div>
					<div class="d-none spinner-grow text-primary state-loading" role="status">
						<span class="visually-hidden">Loading...</span>
					</div>
				</span>
			</form>
		</td>
		<td>{{ blob.thing.human_size() }}</td>
		<td>
			<form method="patch" action="/note/atts" class="d-flex">
				<input type="hidden" name="note" value="{{ note.thing.urn.urn }}">
				<input type="hidden" name="atts" value="{{ blob.thing.urn.urn }}">
				<input type="hidden" name="action" value="detach-blob">
				<input type="hidden" name="identifier_old" value="{{ identifier }}" />
				<button type="button" class="btn btn-outline-danger">Delete</a>

				<span class="result" style="align-content: center" aria-live="polite">
					<div class="d-none state-success" role="status">
						✔️<span class="visually-hidden">Success</span>
					</div>
					<div class="d-none state-error" role="status">
						❌<span class="visually-hidden">Error</span>
					</div>
					<div class="d-none spinner-grow text-primary state-loading" role="status">
						<span class="visually-hidden">Loading...</span>
					</div>
				</span>
			</form>
		</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
</details>
{% endif %}



<details>
	<summary><h3>Children</h3></summary>
{% set b = Config.MarkdownBlock(author=Config.System, type="query-table", contents="group select title, date(created) as created from __all__ where parents like '%" + note.thing.urn.ident + "%' group by type order by type asc, updated asc") %}
{{ b.render(oe, Config.ExportPrefix, note.thing) }}
</details>

<details>
	<summary><h3>Queryable fields</h3></summary>
	<table>
		{% for k, v in note.clean_dict(oe).items() %}
		<tr>
			<td>{{k|e}}</td><td>{{v|e}}</td>
		</tr>
		{% endfor %}
	</table>
</details>

<script>
if(document.querySelectorAll('.masonry').length){
	var macy = Macy({
	    container: '.masonry',
	    trueOrder: true,
	    waitForImages: false,
	    margin: 8,
	    columns: 6,
	    breakAt: {
		1200: 5,
		940: 3,
		520: 2,
		400: 1
	    }
	});
}

function Patch(form, delete_row){
	let inputs = form.querySelectorAll('input');
	let url = form.attributes.action.value;
	console.log(`patch ${url} => ${inputs}`);

	const data = new URLSearchParams();
	inputs.forEach(i => {
		data.append(i.name, i.value);
	});

	// Hide them all
	form.querySelectorAll('.result > div:not(.d-none)').forEach(n => n.classList.add('d-none'))
	form.querySelector('.result .state-loading').classList.remove('d-none')
	
	fetch(url, {
		method: "PATCH",
		body: data
	})
	.then((response) => {
		if (!response.ok) {
			form.querySelectorAll('.result > div:not(.d-none)').forEach(n => n.classList.add('d-none'))
			form.querySelector('.result .state-error').classList.remove('d-none')
			throw new Error(`HTTP error: ${response.status}`);
		}
		return response.text();
	})
	.then((data) => {
		if (delete_row === true ){
			form.parentElement.parentElement.remove();
		}
	});
}

// For all our PATCH forms, if any of their inputs change, trigger the Patch
// method on them. Progressively enhanced, the form will work normally without JS.
document.querySelectorAll('form[method="patch"] input').forEach(i => i.addEventListener('change', () => {
	Patch(i.parentElement, false);
}));
document.querySelectorAll('form[method="patch"] button').forEach(i => i.addEventListener('click', () => {
	Patch(i.parentElement, true);
}));

[...document.querySelectorAll("input.time")].forEach(i => i.addEventListener('focus', () => i.select()));
[...document.querySelectorAll("input.time")].forEach(i => i.addEventListener('change', () => {
	i.value = simple_time_to_hms(i.value);
	Update();
}));

[...document.querySelectorAll("input.patch")].forEach(i => i.addEventListener('change', () => {
	Patch(i.dataset.urn)
}));


</script>
<style>
.masonry img {
	height: auto;
	width: 100%;
}
</style>

{% endblock %}

{% block extras %}
<script src="{{ Config.ExportPrefix }}assets/luxon.min.js"></script>
<script src="{{ Config.ExportPrefix }}assets/macy@2.min.js"></script>
{% endblock %}
