{% extends "base.html" %}

{% block title %}Review | {{ Config.Title | safe }}{% endblock %}

{% block main %}
<hgroup>
	<h1>Review Lineage</h1>
</hgroup>

<hgroup>
<h2>Potentially Confused Lineage</h2>
<p>Notes stored in a different backend than their parents.</p>
</hgroup>
<table id="results">
	<thead>
	<tr>
		<th>Note</th>
		<th>Backend</th>
		<th>Parent's backend</th>
	</tr>
	</thead>
	<tbody>
	{% for note in oe.all_things() %}
		{% set ns = namespace(row_include=0) %}
		{% for parent in note.thing.data.get_parents() %}
		{% set par = oe.find_thing_safe(parent.urn) %}
			{% if par %}
			{% if par.backend.name != note.backend.name %}
			    {% set ns.row_include = 1 + ns.row_include %}
			{% endif %}
			{% endif %}
		{% endfor %}

		{% if ns.row_include %}
	<tr>
		<td><a class="urn" href="{{ note.thing.urn.urn }}#url">{{ note.thing.data.icon }} {{ note.thing.data.title | e }}</a></td>
		<td class="a">{{ note.backend.name }}</td>
		<td class="b">
			{% for parent in note.thing.data.get_parents() %}
			{% set par = oe.find_thing_safe(parent.urn) %}
				{% if not par %}
					{{ parent.urn }}
				{% else %}
					{{ par.backend.name }}
					{% if par.backend.name != note.backend.name %}❌{% else%}✔️{% endif %}
				{% endif %}
			{% endfor %}
		</td>
	</tr>
		{% endif %}
	{% endfor %}
	</tbody>
</table>

<details>
	<summary>Standard Lineage</summary>
<table id="results">
	<thead>
	<tr>
		<th>Note</th>
		<th>Backend</th>
		<th>Parent's backend</th>
	</tr>
	</thead>
	<tbody>
	{% for note in oe.all_things() %}
		{% set ns = namespace(row_include=0) %}
		{% for parent in note.thing.data.get_parents() %}
		{% set par = oe.find_thing_safe(parent.urn) %}
			{% if par %}
				{% if par.backend.name != note.backend.name %}
				    {% set ns.row_include = 1 + ns.row_include %}
				{% endif %}
			{% endif %}
		{% endfor %}

		{% if ns.row_include == 0 %}
	<tr>
		<td><a class="urn" href="{{ note.thing.urn.urn }}#url">{{ note.thing.data.icon }} {{ note.thing.data.title | e }}</a></td>
		<td class="a">{{ note.backend.name }}</td>
		<td class="b">
			{% for parent in note.thing.data.get_parents() %}
			{% set par = oe.find_thing_safe(parent.urn) %}
				{% if par %}
					{{ par.backend.name }}
				{% else %}
					{{ parent.urn }}
				{% endif %}
			{% endfor %}
		</td>
	</tr>
		{% endif %}
	{% endfor %}
	</tbody>
</table>
</details>



{% endblock %}
