{% extends "base.html" %}

{% block title %}Thanks! | {{ Config.Title | e }}{% endblock %}

{% block main %}
{% set cover = note.thing.data.cover_image(Config.ExportPrefix, oe) %}
{% if cover %}
<div>
	<img src="{{ cover }}" class="cover">
</div>
{% endif %}
<hgroup>
	<h1>
		Thanks
	</h1>
</hgroup>

<a class="btn btn-primary" href="{{ Config.ExportPrefix }}form/{{ note.thing.urn.urn }}">Submit another entry</a>

{% if user %}
<a class="btn btn-secondary" href="{{ note.thing.urn.urn }}#url">Return to Note</a>
{% endif %}


{% endblock %}
