:root {
	--background: light-dark(Canvas, CanvasText);
	--background-o: light-dark(#eee, #222);
	--color: light-dark(CanvasText, Canvas);
	color-scheme: light dark;
}

body {
	font-family: 'Recursive';
	font-variation-settings: "MONO" 0, "CASL" 1, "CRSV" 0;
	font-weight: 350;
}
h1, h2 {
	font-variation-settings: "MONO" 0, "CASL" 1, "CRSV" 1;
}
pre, kbd, samp, code {
	font-family: 'Recursive';
	font-variation-settings: "CASL" 0.5, "CRSV" 0, "MONO" 1;
}
main, header {
	margin: auto;
	max-width: 80%;
	padding: 0 1rem;
	width: 100%;
}
body > header {
	padding: 3rem 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
footer {
	padding: 3rem 0;
	margin: auto;
	width: 100%;
	max-width: 80%;
	border-top: 3px solid black;
	margin-top: 12rem;
	display: flex;
	justify-content: space-between;
}

.cover {
	display: block;
	object-fit: cover;
	border-radius: 0px;
	width: 100%;
	height: 30vh;
	opacity: 1;
	object-position: center 50%;
}

.row {
	display: flex;
	flex-direction: column;
	padding: 0;
}

.row .column {
	display: block;
	flex: 1 1 auto;
	margin-left: 0;
	max-width: 100%;
	width: 100%;
}

.row .column-2 {
	display: block;
	flex: 1 0.5 auto;
	margin-left: 0;
	max-width: 100%;
	width: 100%;
}

@media (min-width: 30.0rem) {
	.row {
		flex-direction: row;
		margin: 0 -.5rem;
		width: calc(100% + 1rem);
	}

	.row .column {
		margin-bottom: inherit;
		padding: 0 .5rem;
	}
}




table#metadata {
	border-collapse: collapse;
	caption {
		text-align: start;
		margin-block: 0.75rem;
		font-weight: bold;
		font-size: 120%;
	}

	thead, tbody {
		border-block-end: 2px solid #888;
	}

	tfoot {
		border-block: 2px solid;
	}

	th, td {
		border: 1px solid;
	}

	/* first column align right */
	th:first-child, td:first-child {
		text-align: right;
		border-inline-end: 2px solid;
	}

	th, td {
		border: none;
	}

	width: unset;

	ul {
		margin: 0;
		padding-inline-start: 1.8rem;
	}
}

/* table tfoot tr td.query { */
/* 	font-size: 60%; */
/* } */



img.icon {
	width: 2rem;
}

table .header {
	text-align: center;
	background-color: var(--background-o);
}

div.kanban {
	display: flex;
	overflow: scroll;
	max-height: 24em;
	background: var(--background-o);
	border: 1px solid black;
	padding: 1em;

	.kanban-column {
		min-width: 20ch;
		max-width: 30ch;
		margin-right: 1em;

		.title {
			font-weight: bold;
		}
	}
	.card {
		background: var(--background);
		padding: 0.5rem;
		margin-bottom: 0.5rem;
		border: 1px solid #ccc;
	}
}

.error {
	border: 2px solid red;
	padding: .4rem 1rem;

}


/* blocks */
.contents {
	border-top: 1px solid #eee;
	padding: 1em;
}

.block {
	/* margin-top: 2em; */
	position: relative;
}

.author {
	background: #eee;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding: 0 0.2em 0.2em 0.2em;
	border-radius: 0% 0% 10px 10px / 0% 0% 10px 10px;
	padding-inline-start: 1em;
	padding-inline-end: 1em;

	padding: 2px 6px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.tag {
	border: 1px solid black;
	padding: 0.2rem 0.7rem;
	border-radius: 10px;
}
.template {
	border: 1px dashed black;
}
input[type="date"] {
	padding: .4rem 1rem;
	width: 100%;
	font-size: 2rem;
	color: #111;
	background-color: #fff;
	border: .2rem solid #111;
	border-radius: 0;
}

@media screen and (max-width: 800px) {
	main, header, footer {
		max-width: 95% !important;
	}
}
