{{ define "base" }}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="theme-color" content="#ffffff"/>

		<title>{{ template "title" .}}</title>
		{{ if .Config.ExportUseGoogleFonts }}
		<link href="https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,MONO@-15..0,300..800,0..1,0..1&display=swap" rel="stylesheet">
		{{ else }}
		<style>
		@font-face {
		  font-family: 'Recursive';
		  font-style: oblique 0deg 15deg;
		  font-weight: 300 800;
		  font-display: swap;
		  src: url(recursive.woff2) format('woff2');
		}
		</style>
		{{ end }}
		<link rel="stylesheet" href="assets/normalize@8.0.1.css">
		<link rel="stylesheet" href="assets/concrete@2.0.3.css">
		<link rel="stylesheet" href="assets/index.css">
		<link rel="icon" type="image/x-icon" href="assets/favicon.ico">
	</head>
	<body>
		<header>
			<span style="display: flex; align-items: center;">
				<img src="assets/favicon.ico" width="40">
				<a href="index.html">{{ .Config.Title }}</a>
			</span>
			<form action="search.html">
				<input type="search" name="title" id="search" size="24" style="width: unset" placeholder="search">
			</form>
		</header>
		<main>
			{{ template "main" .}}
		</main>
		<footer>
			<div class="row">
			<div style="text-align: start" class="column-2">
				<b>{{ .Config.Title }}</b>
				<p>{{ .Config.About }}</p>
			</div>
			<div style="text-align: end" class="column">
				<p>AGPLv3</p>
				<p>Rev <a href="https://github.com/hexylena/project-management/commit/{{ .Gn.VcsRev 24 }}">{{ .Gn.VcsRev 8 }}</a></p>
			</div>
			</div>
		</footer>

	</body>
</html>
{{ end }}
