{{define "title" }}
	New Note | {{ .Config.Title }}
{{end}}

{{define "main"}}
	<hgroup>
	<h1>Add a Note</h1>
	</hgroup>

	<form method="post">
		<fieldset>
			<legend>New Note</legend>

			<label for="name">Name</label>
			<input id="name" name="name" type="text" width="20" placeholder="What are you working on?">

			<label for="project">Parent(s)</label>
			<select id="project" multiple data-placeholder="Parent(s)" name="project">
				{{ range $g := .Gn.GetStructuredNotes }}
				<optgroup label="{{$g.Group}}">
					{{ range $p := $g.Notes }}
					<option value="{{ $p.NoteId}}">{{ $p.GetEmoji }} {{ $p.Title | html }}</option>
					{{ end}}
				</optgroup>
				{{ end }}
			</select>

			<label for="type">Type</label>
			<select id="type" name="type">
				{{ range $t := .Gn.GetTypes }}
				<option value="{{ $t }}">{{ $t }}</option>
				{{ end }}
			</select>


			<label for="tags">tags</label>
			<select id="tags" multiple data-placeholder="#email #dev #writing" name="tags">
				{{ range $g := .Gn.GetTags }}
					<option value="{{ $g | html}}">{{ $g | html }}</option>
				{{ end }}
			</select>

			<label for="notes">Contents</label>
			<textarea id="notes" name="notes" placeholder="jrnl goes here"></textarea>
			<button type="submit">Save Notes</button>
		</fieldset>
	</form>

	<script>

	new TomSelect("#project",{
		plugins: ['remove_button'],
		create: true,
	});

	new TomSelect("#tags",{
		plugins: ['remove_button'],
		create: true,
	});
	
	</script>

{{end}}
