<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ .Note.Title }} | HXPM Note</title>
    <link rel="stylesheet" href="assets/normalize@8.0.1.css">
    <link rel="stylesheet" href="assets/concrete@2.0.3.css">
    <link rel="stylesheet" href="assets/index.css">
  </head>
  <body>
    <header>
      <span>
        <a href="index.html">HXPM</a>
        /
        {{ .Note.Id }}
      </span>
      <form action="search.html">
        <input type="search" name="title" id="search" size="24" style="width: unset" placeholder="search">
      </form>
    </header>
    <main>
      <div>
        {{ if .Note.GetCover }}
        <img src="{{ .Note.GetCover }}" style="display: block; object-fit: cover; border-radius: 0px; width: 100%; height: 30vh; opacity: 1; object-position: center 50%;">
        {{ end }}
      </div>
      <hgroup>
      <h1>
              {{ .Note.GetIconHtml }}
              {{ .Note.Title }}
      </h1>
      </hgroup>

{{define "badge"}}
  <span class="badge">
    {{ .GetIconHtml }}
    {{ .Title }}
  </span>
{{end}}

      {{ if .Note.HasParents }}
      <h2>Parents</h2>
      <ul>

        {{ range .Note.Parents }}
        <li><a href="{{ . }}.html">{{ template "badge" ($.GlobalNotes.GetNote .) }}</a></li>
        {{ end }}
      </ul>
      {{ end }}

      <h2>Metadata</h2>
      <table>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>

        {{ if .Note.Projects }}
        <tr>
                <td>🏗 Projects</td>
                <td>
                        {{ range .Note.Projects }}
                        <a href="{{ . }}.html">{{ template "badge" ($.GlobalNotes.GetNote .) }}</a>
                        {{ end }}
                </td>
        </tr>
        {{ end }}

        {{ range $key, $value := .Note.Meta }}
        {{ if ne .Title "" }}
        <tr>
                <td>{{ $value.GetIconHtml }} {{ $value.Title }}</td>
                <td>{{ $value.AutoFmt }}</td>
        </tr>
        {{ end }}
        {{ end }}

        <tr>
                <td>Created</td>
		<td>{{ $.GlobalNotes.FmtTimeI .Note.CreatedAt }}</td>
        </tr>

	{{ if ne .Note.CreatedAt .Note.ModifiedAt }}
        <tr>
                <td>Modified</td>
		<td>{{ $.GlobalNotes.FmtTimeI .Note.ModifiedAt }}</td>
        </tr>
	{{ end }}

      </table>

      {{ if .Note.HasBlocks }}
      <h2>Contents</h2>
      {{ range .Note.Blocks }}
      {{ $.GlobalNotes.BlockToHtml3 . }}
      {{ end }}
      {{ end }}

      <h2>Children</h2>
      <table>
        <tr>
          <th>Title</th>
          <th>Type</th>
          <th>Status</th>
          <th>Tags</th>
          <th>Assignee</th>
          <th>Size</th>
        </tr>
        {{ range $key, $v := .Note.GetProjectMembers .GlobalNotes }}
        <tr>
          <td><a href="{{ $v.NoteId }}.html">{{ $v.GetIconHtml }} {{ $v.Title }}</a></td>
          <td>{{ $v.Type }}</td>
          <td>{{ $v.GetS "Status" }}</td>
          <td>
          {{ range $qq := $v.GetL "Tags" }}
          .
          {{ end }}
          </td>
          <td>{{ $v.GetS "Assignee" }}</td>
          <td>{{ $v.GetS "Size" }}</td>
        </tr>
        {{ end }}
      </table>

      {{ if .GlobalNotes.NoteHasChildren .Note }}
      {{ end }}
    </main>
    <footer>
	    <div>
	    <p>Personal Project Manager</p>
	    </div>
	    <div>
	    <p>AGPLv3</p>
	    <p>Rev {{ .GlobalNotes.VcsRev 8 }}</p>
	    </div>
    </footer>

  </body>
</html>
