{{define "badge"}}
	<span class="badge">
		{{ .GetIconHtml }}
		{{ .Title }}
	</span>
{{end}}


{{define "title"}}
	{{ .Note.Title }} | {{ .Config.Title }}
{{end}}

{{define "main"}}
<div>
	{{ if .Note.GetCover }}
	<img src="{{ .Note.GetCover }}" class="cover">
	{{ end }}
</div>
<hgroup>
	<h1>
		{{ .Note.GetIconHtml }}
		{{ .Note.Title }}
	</h1>
</hgroup>

{{ if .Note.HasParents }}
<h2>Parents</h2>
<ul>
	{{ range .Note.Parents }}
	<li>
		<a href="{{ . }}.html">
		{{ $.Gn.GetNote . }}
		</a>
	</li>
	{{ end }}
</ul>
{{ end }}

<table id="metadata">
	<caption>Metadata</caption>
	<thead>
		<tr>
			<th scope="col">Key</th>
			<th scope="col">Value</th>
		</tr>
	</thead>

	<tbody>
	{{ if .Note.Projects }}
	<tr>
		<td scope="row">🏗 Projects</td>
		<td>
			{{ range .Note.Projects }}
			<a href="{{ . }}.html">
				{{ template "badge" ($.Gn.GetNote .) }}
			</a>
			{{ end }}
		</td>
	</tr>
	{{ end }}

	{{ range $key, $value := .Note.Meta }}
	{{ if ne .Title "" }}
	<tr>
		<td scope="row">{{ $value.GetIconHtml }} {{ $value.Title }}</td>
		<td>{{ $.Gn.AutoFmtMeta $value }}</td>
	</tr>
	{{ end }}
	{{ end }}

	<tr>
		<td scope="row">Created</td>
		<td>{{ $.Gn.FmtTimeI .Note.CreatedAt }}</td>
	</tr>

	{{ if ne .Note.CreatedAt .Note.ModifiedAt }}
	<tr>
		<td scope="row">Modified</td>
		<td>{{ $.Gn.FmtTimeI .Note.ModifiedAt }}</td>
	</tr>
	{{ end }}
	</tbody>
</table>

{{ if .Note.HasBlocks }}
	<h2>Contents</h2>

	{{ range .Note.Blocks }}
		{{ $.Gn.BlockToHtml3 . }}
	{{ end }}
{{ end }}

<details style="margin-top: 3rem">
	<summary>All Children</summary>
{{ if .Note.GetProjectMembers .Gn }}
<h2>Children</h2>
<table>
	<tr>
		<th>Title</th>
		<th>Type</th>
		<th>Status</th>
		<th>Tags</th>
		<th>Assignee</th>
		<th>Size</th>
	</tr>
	{{ range $key, $v := .Note.GetProjectMembers .Gn }}
	<tr>
		<td><a href="{{ $v.NoteId }}.html">{{ $v.GetIconHtml }} {{ $v.Title }}</a></td>
		<td>{{ $v.Type }}</td>
		<td>{{ $v.GetS "Status" }}</td>
		<td>
		{{ range $qq := $v.GetL "Tags" }}
		.
		{{ end }}
		</td>
		<td>{{ $v.GetS "Assignee" }}</td>
		<td>{{ $v.GetS "Size" }}</td>
	</tr>
	{{ end }}
</table>
{{ end }}
</details>
{{end}}

