{{define "title"}}
	Time Tracking | {{ .Config.Title }}
{{end}}

{{define "main"}}
	<hgroup>
	<h1>Time Tracker</h1>
	</hgroup>

	<h2>Track</h2>
	{{ if .Gn.GetOpenLog }}
	<form method="post">
		<fieldset>
			<legend>Add Log</legend>

			<label for="name">Name</label>
			<input id="name" name="name" type="text" width="20" placeholder="What are you working on?" value="{{ .Gn.GetOpenLog.Title }}">

			<label for="project">Project</label>
			<input id="project" type="search" spellcheck=false autocorrect="off" autocomplete="off" autocapitalize="off" onKeyUp="showResults(this.value)" value="{{ .Gn.GetOpenLog.Projects }}">
			<input id="project_id" type="hidden" name="project_id" value="{{ .Gn.GetOpenLog.Projects }}">
			<input id="note_id" type="hidden" name="note_id" value="{{ .Gn.GetOpenLog.NoteId }}">
			<div id="results"></div>
			<label for="tags">tags</label>
			<input type="text" id="tags" name="tags" placeholder="#email #dev #writing" value="{{ .Gn.GetOpenLog.GetL "Tags" }}">
			<input type="time" id="start" name="start" value="{{ (.Gn.GetOpenLog.GetStartEndTime "start").Format "15:04:05"  }}">
			<span id="runtime">TODO</span>
			<input id="action" type="hidden" name="action" value="stop">
			<button type="submit">Stop</button>
		</fieldset>
	</form>

	<h2>Notes</h2>
	<form method="post">
		<fieldset>
			<legend>Add Notes</legend>

			<label for="notes">Contents</label>
			<textarea id="notes" name="notes" placeholder="jrnl goes here">{{ .Gn.GetOpenLog.RenderMarkdown }}</textarea>
			<input id="note_id" type="hidden" name="note_id" value="{{ .Gn.GetOpenLog.NoteId }}">
			<input id="action" type="hidden" name="action" value="notes">
			<button type="submit">Save Notes</button>
		</fieldset>
	</form>

	{{ else }}
	<form method="post">
		<input id="name" name="name" type="text" width="20" placeholder="What are you working on?">
		<input id="project" type="search" spellcheck=false autocorrect="off" autocomplete="off" autocapitalize="off" onKeyUp="showResults(this.value)">
		<input id="project_id" type="hidden" name="project_id">
		<div id="results"></div>
		<input type="text" id="tags" name="tags" placeholder="#email #dev #writing">
		<input type="time" id="start" name="start">
		<span id="runtime">1:00:00</span>
		<input id="action" type="hidden" name="action" value="start">
		<button type="submit">Start</button>
	</form>
	{{ end }}

	<h2>Older Logs</h2>
	<table>
		<thead>
		</thead>
		<tbody>
			{{ range $p := .Gn.GetStructuredLogs }}
			<tr>
				<td colspan="5">{{ $p.Date.Format "Monday, January 02" }}</td>
			</tr>
			{{ range $n := $p.Logs }}
			<tr>
				<td><a href="{{ $n.NoteId }}.html">{{ $n.Title }}</a></td>
				<td>
					{{ range $par := $n.Parents }}
					<a href="{{ $par }}.html">{{ $.Gn.GetNote $par }}</a>
					{{ end }}
				</td>
				<td>
					{{ range $par := $n.GetL "Tags" }}
					{{ $par }}
					{{ end }}
				</td>
				<td>
					<input type="text" value="{{ $n.GetStartEndTime "start" }}">
					<input type="text" value="{{ $n.GetStartEndTime "end" }}">
				</td>
				<td>
					<form method="post">
						<input type="hidden" name="name" value="{{ $n.Title }}">
						<input type="hidden" name="project_id" value="{{ $n.GetParentsCSV }}">
						<input type="hidden" name="tags" value="{{ range $par := $n.GetL "Tags" }},{{ $par }}{{ end }}">
						<input id="action" type="hidden" name="action" value="start">
						<button type="submit">Continue</button>
					</form>
				</td>
			</tr>
			{{ end }}
			{{ end }}
		</tbody>
	</table>


	{{ .Gn.GetLogsFormated }}

	<script>
var search_terms = [
	{{ range $p := .Gn.GetNotes }}
		["{{ $p.GetEmoji }} {{ $p.Title | html }}", "{{ $p.NoteId }}"],
	{{ end }}
];

function autocompleteMatch(input) {
  if (input == '') {
    return [];
  }
  var reg = new RegExp(input)
  return search_terms.filter(function(term) {
	  if (term[0].toLowerCase().match(reg)) {
  	  	return term;
	  }
  });
}

function setResult(title, id){
	res.style.display = "none";
	document.getElementById("project").value = title
	document.getElementById("project_id").value = id
}

function showResults(val) {
  res = document.getElementById("results");
  // display the result
  res.innerHTML = '';
  let list = '';
  let terms = autocompleteMatch(val);
  for (i=0; i<terms.length; i++) {
    list += `<button type="button" onclick="setResult('${terms[i][0]}', '${terms[i][1]}')">${terms[i][0]}</button><br/>`;
  }
  res.innerHTML = list;
  if(list.length > 0){
	res.style.display = "revert";
  } else {
	res.style.display = "none";
  }
}
	</script>

<style>
#results{
	display: none;
	position: absolute;
	background: var(--background);
	padding: 1rem;
	border: 2px solid var(--color);

	button:focus {
		border: 2px solid red;
	}
}
</style>
{{end}}
