{{define "title"}}
	Time Tracking | {{ .Config.Title }}
{{end}}

{{define "main"}}
	<hgroup>
	<h1>Time Tracker</h1>
	</hgroup>

	{{ if .Gn.GetOpenLog }}
	<form method="post">
		<fieldset>
			<legend>Add Log</legend>

			<label for="name">Name</label>
			<input id="name" name="name" type="text" width="20" placeholder="What are you working on?" value="{{ .Gn.GetOpenLog.Title }}">

			<label for="project">Parent(s)</label>
			<select id="project" multiple data-placeholder="Parent(s)" name="project">
				{{ range $g := .Gn.GetStructuredNotes }}
				<optgroup label="{{$g.Group}}">
					{{ range $p := $g.Notes }}
					<option value="{{ $p.NoteId}}" {{ if $.Gn.GetOpenLog.HasParent $p.NoteId }}selected{{ end }}>
						{{ $p.GetEmoji }} {{ $p.Title | html }}
					</option>
					{{ end}}
				</optgroup>
				{{ end }}
			</select>

			<input id="note_id" type="hidden" name="note_id" value="{{ .Gn.GetOpenLog.NoteId }}">
			<label for="tags">tags</label>
			<input type="text" id="tags" name="tags" placeholder="#email #dev #writing" value="{{ .Gn.GetOpenLog.GetL "Tags" }}">
			<input type="time" id="start" name="start" value="{{ (.Gn.GetOpenLog.GetStartEndTime "start").Format "15:04:05"  }}">
			<span id="runtime">TODO</span>
			<input id="action" type="hidden" name="action" value="stop">
			<button type="submit">Stop</button>
		</fieldset>
	</form>

	<h2>Notes</h2>
	<form method="post">
		<fieldset>
			<legend>Add Notes</legend>

			<label for="notes">Contents</label>
			<textarea id="notes" name="notes" placeholder="jrnl goes here">{{ .Gn.GetOpenLog.RenderMarkdown }}</textarea>
			<input id="note_id" type="hidden" name="note_id" value="{{ .Gn.GetOpenLog.NoteId }}">
			<input id="action" type="hidden" name="action" value="notes">
			<button type="submit">Save Notes</button>
		</fieldset>
	</form>

	{{ else }}
	<form method="post">
		<fieldset>
			<legend>New Log</legend>
			<label for="name">Name</label>
			<input id="name" name="name" type="text" width="20" placeholder="What are you working on?">

			<label for="project">Parent(s)</label>
			<select id="project" multiple data-placeholder="Parent(s)" name="project">
				{{ range $g := .Gn.GetStructuredNotes }}
				<optgroup label="{{$g.Group}}">
					{{ range $p := $g.Notes }}
					<option value="{{ $p.NoteId}}">{{ $p.GetEmoji }} {{ $p.Title | html }}</option>
					{{ end}}
				</optgroup>
				{{ end }}
			</select>

			<label for="tags">Tags</label>
			<input type="text" id="tags" name="tags" placeholder="#email #dev #writing">

			<label for="start">Start Time</label>
			<input type="time" id="start" name="start">
			<span id="runtime">1:00:00</span>
			<input id="action" type="hidden" name="action" value="start">
			<button type="submit">Start</button>
		</fieldset>
	</form>
	{{ end }}

	<h2>Older Logs</h2>
	<table>
		<thead>
		</thead>
		<tbody>
			{{ range $p := .Gn.GetStructuredLogs }}
			<tr>
				<td colspan="5" class="header">{{ $p.Date.Format "Monday, January 02" }}</td>
			</tr>
			{{ range $n := $p.Logs }}
			<tr>
				<td><a href="{{ $n.NoteId }}.html">{{ $n.Title }}</a></td>
				<td>
					{{ range $par := $n.Parents }}
					<a href="{{ $par }}.html">{{ $.Gn.GetNote $par }}</a>
					{{ end }}
				</td>
				<td>
					{{ range $par := $n.GetL "Tags" }}
					{{ $par }}
					{{ end }}
				</td>
				<td>
					<input type="text" value="{{ $n.GetStartEndTime "start" }}">
					<input type="text" value="{{ $n.GetStartEndTime "end" }}">
				</td>
				<td>
					<form method="post">
						<input type="hidden" name="name" value="{{ $n.Title }}">
						{{ range $p := $n.Parents }}
						<input type="hidden" name="project" value="{{ $p }}">
						{{ end }}
						<input type="hidden" name="tags" value="{{ range $par := $n.GetL "Tags" }},{{ $par }}{{ end }}">
						<input id="action" type="hidden" name="action" value="start">
						<button type="submit">Continue</button>
					</form>
				</td>
			</tr>
			{{ end }}
			{{ end }}
		</tbody>
	</table>


	{{ .Gn.GetLogsFormated }}

	<script>
	new TomSelect("#project",{
		plugins: ['remove_button'],
		create: true,
	});

	</script>

{{end}}
