{% extends "base.html" %}

{% block title %}Editing {{ note.thing.data.title }} | {{ Config.Title | safe }}{% endblock %}

{% block main %}
	<hgroup>
	<h1>Add a Note</h1>
	</hgroup>

	<form method="post">
		<fieldset>
			<legend>Editing Note {{ note.thing.urn.urn }}</legend>

			<label for="title">Title</label>
			<input id="title" name="title" type="text" width="20" placeholder="What are you working on?" value="{{ note.thing.data.title }}">
			<input type="hidden" name="urn" value="{{ note.thing.urn.urn }}">

			<label for="project">Parent(s)</label>
			<select id="parent-select" class="select-project" multiple data-placeholder="Parent(s)" name="project">

				{% for group in oe.query('select id, title_plain, type from __all__ group by type').groups %}
				<optgroup label="{{ group.title }}">
					{% for (id, title, type) in group.rows %}
					<option value="{{ id }}" {% if note.thing.data.has_parent(id) %}selected{% endif %}>
						{{ title }}
					</option>
					{% endfor %}
				</optgroup>
				{% endfor %}
			</select>

			<script>
				new TomSelect("#parent-select", {
					plugins: ['remove_button'],
				});
			</script>

			<label for="type">Type</label>
			<select id="type" name="type">
				{% for app in bos.apps() %}
				<option value="{{ app }}" {% if app == note.thing.data.type %}selected{% endif %}>{{ app.title() }}</option>
				{% endfor %}
			</select>

			<label for="notes">Contents</label>

			<div id="notes" name='contents'>
				{% for block in note.thing.data.get_contents() %}
				<div class="block existing" style="display: flex">
					<div style="display: flex; flex-direction: column; flex-grow: 1; padding-right: 0.5em">
						<button type="button" style="flex-grow: 1" onclick="insertbefore(this)">+⬆️</button>
						<button type="button" style="flex-grow: 1" onclick="remove(this)">❌</button>
						<button type="button" style="flex-grow: 1" onclick="insertafter(this)">+⬇️</button>
					</div>
					<div style="display: flex; flex-direction: column; flex-grow: 7">
						<select id="type" name="content_type">
							{% for bt in blocktypes %}
							<option value="{{ bt.value }}" {% if bt.value == block.type %}selected{% endif %}>{{ bt.pretty() }}</option>
							{% endfor %}
						</select>
						<input type="hidden" name="content_uuid" value="{{ block.id }}">
						<textarea name="content_note" placeholder="jrnl goes here" rows="10">{{ block.contents }}</textarea>
						<input type="hidden" name="content_author" value="{{ block.author.urn }}">
					</div>
				</div>
				{% endfor %}

				<div id='default-block' class="block" style="display: flex">
					<div style="display: flex; flex-direction: column; flex-grow: 1; padding-right: 0.5em">
						<button type="button" style="flex-grow: 1" onclick="insertbefore(this)">+⬆️</button>
						<button type="button" style="flex-grow: 1" onclick="remove(this)">❌</button>
						<button type="button" style="flex-grow: 1" onclick="insertafter(this)">+⬇️</button>
					</div>
					<div style="display: flex; flex-direction: column; flex-grow: 7">
						<select id="type" name="content_type">
							{% for bt in blocktypes %}
							<option value="{{ bt.value }}">{{ bt.pretty() }}</option>
							{% endfor %}
						</select>
						<input type="hidden" name="content_uuid" value="REPLACEME">
						<input type="hidden" name="content_author" value="urn:boshedron:account:hexylena"> <!-- TODO -->
						<textarea name="content_note" placeholder="jrnl goes here" rows="10"></textarea>
					</div>
				</div>
			</div>

			<label for="tags">Tags</label>
			<div id="tags" name="tags">
				<table>
					<thead>
						<th>Actions</th>
						<th>Key</th>
						<th>Value</th>
					</thead>
					<tbody>
						{% for tag in note.thing.data.tags %}
						<tr class='tag existing'>
							<td><button type="button" style="flex-grow: 1" onclick="removetag(this)">❌</button></td>
							<td><input type="text" name="tag_key" placeholder="key" value="{{ tag.key }}"/></td>
							<td><input type="text" name="tag_val" placeholder="value" value="{{ tag.val_safe | escape }}"/></td>
						</tr>
						{% endfor %}
						<tr id="default-tag" class="tag">
							<td><button type="button" style="flex-grow: 1" onclick="removetag(this)">❌</button></td>
							<td><input type="text" name="tag_key" placeholder="key"/></td>
							<td><input type="text" name="tag_val" placeholder="value"/></td>
						</tr>
					</tbody>
				</table>
				<button type="button" onclick="appendtag()">+</button>
			</div>

			<label for="backend">Backend</label>
			<select id="backend" name="backend">
				{% for backend in oe.backends %}
				<option value="{{ backend.name }}" {% if note.backend.name == backend.name %}selected{%endif%}>{{ backend.description }} ({{ backend.name }})</option>
				{% endfor %}
			</select>

			<button type="submit">Save Notes</button>
		</fieldset>
	</form>

	<script>
// https://stackoverflow.com/questions/105034/how-do-i-create-a-guid-uuid
function uuid() {
	return "10000000-1000-4000-8000-100000000000".replace(/[018]/g, c => { return (+c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> +c / 4).toString(16) });
}

	const template = document.querySelector('#default-block').outerHTML;
	if (document.querySelectorAll('#notes .block.existing').length > 0 ){
		document.querySelector('#default-block').remove();
	}

	const templateTag = document.querySelector('#default-tag').outerHTML;
	document.querySelector('#default-tag').remove();
	if (document.querySelectorAll('#tags .tag.existing').length > 0 ){
	}

	function insertbefore(e){
		let block = e.parentElement.parentElement;
		block.insertAdjacentHTML('beforebegin', template.replaceAll('REPLACEME', uuid()))
	}

	function remove(e){
		let block = e.parentElement.parentElement;
		if (document.querySelectorAll('#notes .block').length == 1){
			block.insertAdjacentHTML('beforebegin', template.replaceAll('REPLACEME', uuid()))
		}

		block.remove();
	}

	function removetag(e){
		let tag = e.parentElement.parentElement;
		if (document.querySelectorAll('#notes .tag').length == 1){
			tag.insertAdjacentHTML('beforebegin', templateTag.replaceAll('REPLACEME', uuid()))
		}

		tag.remove();
	}

	function insertafter(e){
		let block = e.parentElement.parentElement;
		block.insertAdjacentHTML('afterend', template.replaceAll('REPLACEME', uuid()))
	}

	function appendtag(e){
		document.querySelector('#tags table tbody').insertAdjacentHTML('beforeend', templateTag);
	}


	</script>

{% endblock %}
