{% extends "base_edit.html" %}

{% block title %}New | {{ Config.Title | escape }}{% endblock %}

{% block main %}
	<hgroup>
		<h1>Add a {% if template %}{{ template.title.title() }}{% else %}Note{% endif %}</h1>
	</hgroup>

	<form method="post" action="/new">
		<fieldset>
			<legend>New Note</legend>

			<label for="title">Title</label>
			<input id="title" name="title" type="text" width="20" placeholder="What are you working on?" 
				{% if template %}value="{{ template.title }}"{% endif %}>

			<label for="project">Parent(s)</label>
			<select id="parent-select" class="select-project" multiple data-placeholder="Parent(s)" name="project">
				{% for group in oe.query('group select urn, title_plain, type from __all__ group by type').groups %}
				<optgroup label="{{ group.title }}">
					{% for (id, title, type) in group.rows %}
					<option data-urn="{{id}}" value="{{ id }}">
						{{ title }}
					</option>
					{% endfor %}
				</optgroup>
				{% endfor %}
			</select>

			<script>
				var params = (new URL(document.location)).searchParams;
				if(params.get('parent')){
					let els = document.querySelector(`#parent-select option[data-urn="${params.get('parent')}"]`)
					if (els) { els.selected = true; }
				}
				new TomSelect("#parent-select", {
					plugins: ['remove_button'],
				});
			</script>

			<label for="type">Type</label>
			<select id="type" name="type">
				{% for app in bos.apps() %}
				<option value="{{ app }}"
					{% if template %}{% if template.type == app %}selected{% endif %}
					{% elif app == 'note' %} selected
					{% endif %}
				>{{ app.title() }}</option>
				{% endfor %}
			</select>

			<label for="notes">Contents</label>

			<div id="notes" name='contents'>
				{% if template %}
				{% for block in template.contents %}
				<div class="block existing" style="display: flex">
					<div style="display: flex; flex-direction: column; flex-grow: 1; padding-right: 0.5em">
						<button type="button" style="flex-grow: 1" onclick="insertbefore(this)">+⬆️</button>
						<button type="button" style="flex-grow: 1" onclick="remove(this)">❌</button>
						<button type="button" style="flex-grow: 1" onclick="insertafter(this)">+⬇️</button>
					</div>
					<div style="display: flex; flex-direction: column; flex-grow: 7">
						<select id="type" name="content_type">
							{% for bt in blocktypes %}
							<option value="{{ bt.value }}" {% if bt.value == block.type %}selected{% endif %}>{{ bt.pretty() }}</option>
							{% endfor %}
						</select>
						<input type="hidden" name="content_uuid" value="{{ block.id }}">

						<markdown-toolbar for="block-{{ block.id }}">
							<md-bold><b>B</b></md-bold>
							<md-header>H1</md-header>
							<md-italic><i>I</i></md-italic>
							<md-quote>”</md-quote>
							<md-code>&lt;/&gt;</md-code>
							<md-link>🔗</md-link>
							<md-image>🖼</md-image>
							<md-unordered-list>-</md-unordered-list>
							<md-ordered-list>1.</md-ordered-list>
							<md-task-list>✔️</md-task-list>
							<!-- <md-mention>@</md-mention> -->
						</markdown-toolbar>
						<textarea id="REPLACEME" name="content_note" placeholder="jrnl goes here" rows="10">{{ block.contents }}</textarea>
						<input type="hidden" name="content_author" value="{{ block.author.urn }}">
					</div>
				</div>
				{% endfor %}
				{% endif %}
				<div id='default-block' class="block" style="display: flex">
					<div style="display: flex; flex-direction: column; flex-grow: 1; padding-right: 0.5em">
						<button type="button" style="flex-grow: 1" onclick="insertbefore(this)">+⬆️</button>
						<button type="button" style="flex-grow: 1" onclick="remove(this)">❌</button>
						<button type="button" style="flex-grow: 1" onclick="insertafter(this)">+⬇️</button>
					</div>
					<div style="display: flex; flex-direction: column; flex-grow: 7">
						<select id="type" name="content_type">
							{% for bt in blocktypes %}
							<option value="{{ bt.value }}">{{ bt.pretty() }}</option>
							{% endfor %}
						</select>
						<input type="hidden" name="content_uuid" value="REPLACEME">
						<input type="hidden" name="content_author" value="urn:boshedron:account:hexylena"> <!-- TODO -->

						<markdown-toolbar for="block-REPLACEME">
							<md-bold><b>B</b></md-bold>
							<md-header>H1</md-header>
							<md-italic><i>I</i></md-italic>
							<md-quote>”</md-quote>
							<md-code>&lt;/&gt;</md-code>
							<md-link>🔗</md-link>
							<md-image>🖼</md-image>
							<md-unordered-list>-</md-unordered-list>
							<md-ordered-list>1.</md-ordered-list>
							<md-task-list>✔️</md-task-list>
							<!-- <md-mention>@</md-mention> -->
						</markdown-toolbar>
						<textarea id="block-REPLACEME" name="content_note" placeholder="jrnl goes here" rows="10"></textarea>
					</div>
				</div>
			</div>

			<label for="tags">Tags</label>
			<div id="tags" name="tags">
				<table>
					<thead>
						<th>Actions</th>
						<th>Key</th>
						<th>Value</th>
					</thead>
					<tbody>
						{% if template %}
						{% for tag in template.tags %}
						<tr class='tag existing'>
							<td><button type="button" style="flex-grow: 1" onclick="removetag(this)">❌</button></td>
							<td><input type="text" name="tag_key" placeholder="key" value="{{ tag.key }}"/></td>
							<td>
								{{ tag.val_html }}
								<input type="text" name="tag_val" placeholder="value" value="{{ tag.val_safe | escape }}"/>
							</td>
						</tr>
						{% endfor %}
						{% endif %}
						<tr id="default-tag" class="tag">
							<td><button type="button" style="flex-grow: 1" onclick="removetag(this)">❌</button></td>
							<td><input type="text" name="tag_key" placeholder="key"/></td>
							<td><input type="text" name="tag_val" placeholder="value"/></td>
						</tr>
					</tbody>
				</table>
				<button type="button" onclick="appendtag()">+</button>
			</div>

			<label for="attachments">Attachments</label>
			<input type="file" id="attachments" name="attachments" multiple />

			<label for="backend">Backend</label>
			<select id="backend" name="backend">
				{% for backend in oe.backends %}
				<option data-backend="{{ backend.name }}" value="{{ backend.name }}">{{ backend.description }} ({{ backend.name }})</option>
				{% endfor %}
			</select>
			<script>
				if(params.get('backend')){
					let els = document.querySelector(`#backend option[data-backend="${params.get('backend')}"]`)
					els.selected = true;
				}
			</script>

			<button type="submit">Save Notes</button>
		</fieldset>
	</form>

	<script>
document.querySelector('input#title').addEventListener('change', e => {
	document.querySelector('head title').innerText = `New: ${e.target.value}`
})

// automatically resize textareas
document.querySelectorAll("textarea").forEach(t => t.addEventListener('input', autoResize, false));
	const template = document.querySelector('#default-block').outerHTML;
	if (document.querySelectorAll('#notes .block.existing').length > 0 ){
		document.querySelector('#default-block').remove();
	}

	const templateTag = document.querySelector('#default-tag').outerHTML;
	document.querySelector('#default-tag').remove();
	if (document.querySelectorAll('#tags .tag.existing').length > 0 ){
	}

	function insertbefore(e){
		let block = e.parentElement.parentElement;
		block.insertAdjacentHTML('beforebegin', template.replaceAll('REPLACEME', uuid()))
	}

	function remove(e){
		let block = e.parentElement.parentElement;
		if (document.querySelectorAll('#notes .block').length == 1){
			block.insertAdjacentHTML('beforebegin', template.replaceAll('REPLACEME', uuid()))
		}

		block.remove();
	}

	function removetag(e){
		let tag = e.parentElement.parentElement;
		if (document.querySelectorAll('#notes .tag').length == 1){
			tag.insertAdjacentHTML('beforebegin', templateTag.replaceAll('REPLACEME', uuid()))
		}

		tag.remove();
	}

	function insertafter(e){
		let block = e.parentElement.parentElement;
		block.insertAdjacentHTML('afterend', template.replaceAll('REPLACEME', uuid()))
	}

	function appendtag(e){
		document.querySelector('#tags table tbody').insertAdjacentHTML('beforeend', templateTag);
	}


</script>
{% endblock %}
