{% extends "base.html" %}

{% block title %}New | {{ Config.Title | safe }}{% endblock %}

{% block main %}
	<hgroup>
	<h1>Add a Note</h1>
	</hgroup>

	<form method="post">
		<fieldset>
			<legend>New Note</legend>

			<label for="title">Title</label>
			<input id="title" name="title" type="text" width="20" placeholder="What are you working on?">

			<label for="project">Parent(s)</label>
			<select id="parent-select" class="select-project" multiple data-placeholder="Parent(s)" name="project">
				{% for group in oe.query('select id, title_plain, type from __all__ group by type').groups %}
				<optgroup label="{{ group.title }}">
					{% for (id, title, type) in group.rows %}
					<option value="{{ id }}" -- if $.Note.HasParent $p.NoteId --selected-- end -->
						{{ title }}
					</option>
					{% endfor %}
				</optgroup>
				{% endfor %}
			</select>

			<script>
				new TomSelect("#parent-select", {
					plugins: ['remove_button'],
					create: true,
				});
			</script>

			<label for="type">Type</label>
			<select id="type" name="type">
				{% for app in bos.apps() %}
				<option value="{{ app }}" {% if app == 'note' %}selected{% endif %}>{{ app.title() }}</option>
				{% endfor %}
			</select>

			<label for="notes">Contents</label>

			<div id="notes" name='contents'>
				<div class="block" style="display: flex">
					<div style="display: flex; flex-direction: column; flex-grow: 1; padding-right: 0.5em">
						<button type="button" style="flex-grow: 1" onclick="insertbefore(this)">+⬆️</button>
						<button type="button" style="flex-grow: 1" onclick="insertafter(this)">+⬇️</button>
					</div>
					<div style="display: flex; flex-direction: column; flex-grow: 7">
						<select id="type" name="content_type">
							<option value="markdown">Markdown</option>
							<option value="query-table">Query (Table)</option>
							<option value="query-kanban">Query (Kanban)</option>
						</select>
						<input type="hidden" name="content_uuid" value="REPLACEME">
						<textarea name="content_note" placeholder="jrnl goes here" rows="10"></textarea>
					</div>
				</div>
			</div>

			<!--
			<table>
				<caption>Page Metadata</caption>
				<thead>
					<tr>
						<th>Type</th>
						<th>Title</th>
						<th>Value</th>
						<th>Icon</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody id="meta">
				<tr id="meta_r0">
					<td><input type="text" id="m_type" name="m_type" value="icon"></td>
					<td><input type="text" id="m_titl" name="m_titl" value=""></td>
					<td><input type="text" id="m_valu" name="m_valu" value=""></td>
					<td><input type="text" id="m_icon" name="m_icon" value="📰"></td>
					<td><button type="button" onclick="document.getElementById('meta_r0').remove()">❌</button></td>
				</tr>
				<tr id="meta_r1">
					<td><input type="text" id="m_type" name="m_type" value="cover"></td>
					<td><input type="text" id="m_titl" name="m_titl" value=""></td>
					<td><input type="text" id="m_valu" name="m_valu" value="./assets/test.jpg"></td>
					<td><input type="text" id="m_icon" name="m_icon" value=""></td>
					<td><button type="button" onclick="document.getElementById('meta_r1').remove()">❌</button></td>
				</tr>
				</tbody>
			</table>
			<button type="button" onclick="addRow()">➕ Add Meta</button>
			-->

			<br/>

			<button type="submit">Save Notes</button>
		</fieldset>
	</form>

	<script>
// https://stackoverflow.com/questions/105034/how-do-i-create-a-guid-uuid
function uuid() {
	return "10000000-1000-4000-8000-100000000000".replace(/[018]/g, c => { return (+c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> +c / 4).toString(16) });
}

	const template = document.querySelector('#notes .block').outerHTML;
	document.querySelector('#notes .block input[name="content_uuid"]').value = uuid();

	function insertbefore(e){
		let block = e.parentElement.parentElement;
		block.insertAdjacentHTML('beforebegin', template.replaceAll('REPLACEME', uuid()))
	}

	function insertafter(e){
		let block = e.parentElement.parentElement;
		block.insertAdjacentHTML('afterend', template.replaceAll('REPLACEME', uuid()))
	}


	</script>

{% endblock %}
