{% extends "base.html" %}

{% block title %}{{ note.thing.data.title | e }} | {{ Config.Title | e }}{% endblock %}

{% block main %}
{% if note.thing.data.cover_image() %}
<div>
	<img src="{{ note.thing.data.cover_image() }}" class="cover">
</div>
{% endif %}
<hgroup>
	<h1>
		{{ note.thing.data.icon }}
		{{ note.thing.data.title }}
	</h1>
</hgroup>

<table id="metadata">
	<caption>Metadata</caption>
	<thead>
		<tr>
			<th scope="col">Key</th>
			<th scope="col">Value</th>
		</tr>
	</thead>

	<tbody>

	<tr>
		<td scope="row">URN</td>
		<td>{{ note.thing.urn.urn }}</td>
	</tr>

	<tr>
		<td scope="row">Backend</td>
		<td>{{ note.backend.html_title }}</td>
	</tr>

	<!--
	{% if note.thing.data.parents %}
	<tr>
		<td scope="row">Parents</td>
		<td>{% for parent in note.thing.data.get_parents() %}
			<a href="{{ parent.urn }}#url">{{ parent.urn }}#title</a>
		{% endfor %}</td>
	</tr>
	{% endif %}
	-->

	<tr>
		<td scope="row">Ancestors</td>
		<td>{% for chain in oe.get_lineage(note) %}
			<div>
				{% for p in chain %}
				{% if loop.index > 1 %}→{% endif %}
				<a href="{{ p.urn }}#url">{{ p.urn }}#title</a>
				{% endfor %}
			</div>
		{% endfor %}</td>
	</tr>

	{% for tag in note.thing.data.tags %}
	<tr>
		<td scope="row">{{ tag.html_icon }} {{ tag.key }}</td>
		<td>{{ tag.render() }}</td>
	</tr>
	{% endfor %}

	<tr>
		<td scope="row">📅 Created</td>
		<td>{{ note.thing.data.created }}</td>
	</tr>

	<tr>
		<td scope="row">📅 Modified</td>
		<td>{{ note.thing.data.updated }}</td>
	</tr>

	</tbody>
</table>

{% if note.thing.data.contents %}
{% for b in note.thing.data.contents %}
{{ b.render(oe, Config.ExportPrefix, note.thing) }}
{% endfor %}
{% endif %}

{% if note.thing.data.attachments %}
<h3>Attachments</h3>
{% for att in note.thing.data.attachments %}
{{ att }}
{% endfor %}
{% endif %}

{% set res = oe.query("select urn, type from __all__ where parents like '%" + note.thing.urn.ident + "%' order by type asc") %}
{% if res %}
<h3>Children</h3>
<ul>
{% for kids in res.groups %}
{% for kid in kids.rows %}
<li><a href="{{ kid[0] }}#url">{{ kid[0] }}#title</a> {{ kid[1]}}</li>
{% endfor %}
{% endfor %}
</ul>
{% endif %}

<hr/>

<details>
	<summary>Queryable fields</summary>
	<table>
		{% for k, v in note.clean_dict(oe).items() %}
		<tr>
			<td>{{k|e}}</td><td>{{v|e}}</td>
		</tr>
		{% endfor %}
	</table>
</details>

{% endblock %}
