{% extends "base.html" %}

{% block title %}{{ note.thing.data.title | e }} | {{ Config.Title | e }}{% endblock %}

{% block main %}
{% if note.thing.data.cover_image() %}
<div>
	<img src="{{ note.thing.data.cover_image() }}" class="cover">
</div>
{% endif %}
<hgroup>
	<h1>
		{{ note.thing.data.icon }}
		{{ note.thing.data.title }}
	</h1>
</hgroup>

<table id="metadata">
	<caption>Metadata</caption>
	<thead>
		<tr>
			<th scope="col">Key</th>
			<th scope="col">Value</th>
		</tr>
	</thead>

	<tbody>

	<tr>
		<td scope="row">URN</td>
		<td>{{ note.thing.urn.urn }}</td>
	</tr>

	<tr>
		<td scope="row">Backend</td>
		<td>{{ note.backend.html_title }}</td>
	</tr>

	<!--
	{% if note.thing.data.parents %}
	<tr>
		<td scope="row">Parents</td>
		<td>{% for parent in note.thing.data.get_parents() %}
			<a href="{{ parent.urn }}#url">{{ parent.urn }}#title</a>
		{% endfor %}</td>
	</tr>
	{% endif %}
	-->

	<tr>
		<td scope="row">Ancestors</td>
		<td>{% for chain in oe.get_lineage(note) %}
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					{% for p in chain %}
					<li class="breadcrumb-item"><a href="{{ p.urn }}#url">{{ p.urn }}#title</a></li>
					{% endfor %}
				</ol>
			</nav>
		{% endfor %}</td>
	</tr>

	{% for tag in note.thing.data.tags %}
	<tr>
		<td scope="row">{{ tag.html_icon }} {{ tag.render_key(note.get_template(oe)) }}</td>

		{% if note.thing.data.type == 'template' %}
		<td>{{ tag.render() }}</td>
		{% else %}
		<td>{{ tag.render(note.get_template(oe)) }}</td>
		{% endif %}
	</tr>
	{% endfor %}

	<tr>
		<td scope="row">📅 Created</td>
		<td><time datetime="{{ note.thing.data.created }}">{{ note.thing.data.created }}</time></td>
	</tr>

	<tr>
		<td scope="row">📅 Updated</td>
		<td><time datetime="{{ note.thing.data.updated }}">{{ note.thing.data.updated }}</time></td>
	</tr>

	{% if note.get_template(oe) %}
	<tr>
		<td scope="row"> Template</td>
		<td>{{ note.get_template(oe).thing.urn.urn }}#link</td>
	</tr>
	{% endif %}

	{% if note.thing.data.type == 'form' %}
	<tr>
		<td scope="row">Important Links</td>
		<td>
			<a href="/form/{{ note.thing.urn.urn }}">Form</a>
			<a href="/download/{{ note.thing.data.has_attachment('data').urn }}">Download</a>
		</td>
	</tr>
	{% endif %}

	</tbody>
</table>

{% if note.thing.data.contents %}
{% for b in note.thing.data.contents %}
{{ b.render(oe, Config.ExportPrefix, note.thing) }}
{% endfor %}
{% endif %}

{% if note.thing.data.type == 'form' %}
<h3>Form Responses</h3>
{{ note.thing.data.form_responses(oe).render_html_table() }}
{% endif %}




{% if note.thing.data.attachments %}
<h3>Attachments</h3>
<table>
	<!-- <caption>Attachments</caption> -->
	<thead>
		<tr>
			<th scope="col">Attachment</th>
			<th scope="col">Download</th>
			<!-- <th scope="col">Created</th> -->
			<!-- <th scope="col">Updated</th> -->
			<th scope="col">Size</th>
		</tr>
	</thead>
	<tbody>
	{% for identifier, att in note.thing.data.attachments %}
	<tr>
		<td>{{ identifier }}</td>
		{% set blob = oe.find_blob(att) %}
		<td><a href="/download/{{ blob.thing.urn.urn }}">Download</a></td>
		<!-- <td>{{ blob.thing.created }}</td> -->
		<!-- <td>{{ blob.thing.updated }}</td> -->
		<td>{{ blob.thing.human_size() }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endif %}



<hr/>
<details>
	<summary>Children</summary>
{% set b = Config.MarkdownBlock(author=Config.System, type="query-table", contents="group select title, date(created) as created from __all__ where parents like '%" + note.thing.urn.ident + "%' group by type order by type asc, updated asc") %}
{{ b.render(oe, Config.ExportPrefix, note.thing) }}
</details>

<details>
	<summary>Queryable fields</summary>
	<table>
		{% for k, v in note.clean_dict(oe).items() %}
		<tr>
			<td>{{k|e}}</td><td>{{v|e}}</td>
		</tr>
		{% endfor %}
	</table>
</details>

{% endblock %}
