{% extends "base.html" %}

{% block title %}Review | {{ Config.Title | safe }}{% endblock %}

{% block main %}
<hgroup>
	<h1>Review Lineage</h1>
</hgroup>

<table id="results">
	<thead>
	<tr>
		<th>Note</th>
		<th>Backend</th>
		<th>Parent's backend</th>
	</tr>
	</thead>
	<tbody>
	{% for note in oe.all_things() %}
	<tr>
		<td><a class="urn" href="{{ note.thing.urn.urn }}#url">{{ note.thing.data.icon }} {{ note.thing.data.title | e }}</a></td>
		<td class="a">{{ note.backend.name }}</td>
		<td class="b">
			{% for parent in note.thing.data.get_parents() %}
			{% set par = oe.find_thing(parent.urn) %}
			{{ par.backend.name }}
			{% if par.backend.name != note.backend.name %}❌{% else%}✔️{% endif %}
			{% endfor %}
		</td>
	</tr>
	{% endfor %}
	</tbody>
</table>

<script>
document.querySelectorAll('tbody tr').forEach(row => {
	console.log(row)
})
</script>

{% endblock %}
