{% extends "base.html" %}

{% block title %}Search | {{ Config.Title | safe }}{% endblock %}

{% block main %}
<hgroup>
	<h1>Search</h1>
</hgroup>

<form>
	<fieldset>
		<legend>Search</legend>
		<div class="row">
			<div class="column-2">
				<label for="title">Title</label>
				<input type="search" name="title" id="title" placeholder="Search tasks..." oninput="onInputDebounced()">
			</div>
			<div class="column">
				<label for="type">Type</label>
				<select name="type" id="type">
					<option value="Any">Any</option>
				</select>
			</div>
		</div>
		<input type="submit" value="Search">
	</fieldset>
</form>

<table id="results">
	<tr>
		<th>Title</th>
		<th>Type</th>
		<th>Status</th>
		<th>Tags</th>
		<th>Contributor(s)</th>
		<th>Backend</th>
	</tr>
	{% for note in oe.all_things() %}
	<tr>
		<td><a class="urn" href="{{ note.thing.urn.urn }}#url">{{ note.thing.data.icon }} {{ note.thing.data.title | e }}</a></td>
		<td>{{ note.thing.data.type }}</td>
		<td>{% if note.thing.data.has_tag('status') %}{{ note.thing.data.get_tag('status').render() }}{% endif %}</td>
		<td>{% for tag in note.thing.data.tags %}{{ tag.render() }}{% endfor %}</td>
		<td>{% for c in note.thing.data.get_contributors(oe) %}<a class="urn" href="{{ c.urn }}#url">{{ c.urn }}#title</a>{% endfor %}</td>
		<td>{{ note.backend.name }}</td>
	</tr>
	{% endfor %}
</table>

<script>
HTMLCollection.prototype.forEach = Array.prototype.forEach;
NodeList.prototype.forEach = Array.prototype.forEach;
HTMLCollection.prototype.filter = Array.prototype.filter;
NodeList.prototype.filter = Array.prototype.filter;
HTMLCollection.prototype.map = Array.prototype.map;
NodeList.prototype.map = Array.prototype.map;

const textInput = document.getElementById("title")
const otherInputs = document.querySelectorAll("form select")
const table = document.getElementById('results'),
	rows = table.tBodies[0].rows;

const DEBOUNCE_DURATION = 100; // in milliseconds

var previousSearch = "";

function search(){
	const textQuery = document.getElementById("title").value
	const typeFilter = document.getElementById("type").value

	if (previousSearch == `${textQuery} ${typeFilter}`) {
		console.log("Skipping search for the same query")
		return
	}

	// Include search term in page title
	document.getElementsByTagName("title")[0].innerText = `${textQuery} | {{ Config.Title }}`
	console.log(`Searching! ${textQuery} ${typeFilter}`)

	// Which should be hidden

	var to_hide = rows.filter(row => {
		let searchable = [0,3,4,5].map(i => row.children[i].innerText.toLowerCase()).join(' ');
		if (typeFilter != "Any" && row.children[1].innerText != typeFilter) {
			return true;
		}
		if (textQuery != "") {
			if(textQuery.split(" ").every(term => searchable.indexOf(term.toLowerCase()) == -1)) {
				return true;
			}
		}
		return false;
	});

	// Display all
	document.querySelectorAll("#results tr").forEach(r => r.style.display = "");
	// Hide the rest
	to_hide.map(r => r.style.display = "none");

	previousSearch = `${textQuery} ${typeFilter}`
}

// Attribution: https://gist.github.com/beaucharman/1f93fdd7c72860736643d1ab274fee1a
function debounce(callback, wait, context = this) {
	let timeout = null;
	let callbackArgs = null;

	const later = () => callback.apply(context, callbackArgs);
	return function() {
		callbackArgs = arguments;
		clearTimeout(timeout);
		timeout = setTimeout(later, wait);
	};
}

const onInputDebounced = debounce(_ => search(), DEBOUNCE_DURATION);

otherInputs.forEach((input) => {
	addEventListener("change", (event) => {
		search()
	})
});

// Get the q parameter from URL
// This is a redeclaration of the `var params` in themes.js, not sure how we want to handle that long term.
var params = (new URL(document.location)).searchParams;
paramSearch = params.get('title')
if (paramSearch) {
	textInput.value = paramSearch
	search()
}
</script>
{% endblock %}
