{% extends "base_edit.html" %}

{% block title %}Log Time | {{ Config.Title | escape }}{% endblock %}

{% block main %}
	<hgroup>
	<h1>Time Tracker</h1>
	</hgroup>

	<script>
		function unixToDateTime(unix){
			let dt = luxon.DateTime.fromMillis(unix * 1000);
			return [
				dt.toISODate(),
				dt.toLocaleString(luxon.DateTime.TIME_24_WITH_SECONDS)
			];
		}
	</script>

	<form method="post">
		<fieldset>
			<legend>What are you working on?</legend>

			<label for="title">Title</label>
			<input name="title" type="text" width="20" placeholder="Task">

			<label for="project">Parent(s)</label>
			<select id="new-select" class="select-project" multiple data-placeholder="Parent(s)" name="project">
				{% for group in oe.query('select urn, title_plain, type from __all__ group by type').groups %}
				<optgroup label="{{ group.title }}">
					{% for (id, title, type) in group.rows %}
					<option data-urn="{{id}}" value="{{ id }}">
						{{ title }}
					</option>
					{% endfor %}
				</optgroup>
				{% endfor %}
			</select>

			<script>
				var params = (new URL(document.location)).searchParams;
				if(params.get('parent')){
					let els = document.querySelector(`#new-select option[data-urn="${params.get('parent')}"]`)
					if (els) { els.selected = true; }
				}
				new TomSelect("#new-select", {
					plugins: ['remove_button'],
				});
			</script>

			<label for="backend">Backend</label>
			<select id="backend" name="backend">
				{% for backend in oe.backends %}
				<option value="{{ backend.name }}">{{ backend.description }} ({{ backend.name }})</option>
				{% endfor %}
			</select>

			<button type="submit">Start</button>
		</fieldset>
	</form>


	{% for open_log in oe.search(type='log', custom='open') %}
	<form class="open-log" method="post">
		<fieldset>
			<legend>Edit Log ({{ open_log.thing.urn.urn }})</legend>

			<label for="title">Title</label>
			<input name="title" type="text" width="20" placeholder="What are you working on?" value="{{ open_log.thing.data.title | e }}">

			<label for="project">Parent(s)</label>
			<select id="{{ open_log.thing.urn.urn.replace(':', '-') }}-select" class="select-project" multiple data-placeholder="Parent(s)" name="project">
				{% for group in oe.query('select urn, title_plain, type from __all__ group by type').groups %}
				<optgroup label="{{ group.title }}">
					{% for (id, title, type) in group.rows %}
					<option value="{{ id }}" {% if open_log.thing.data.has_parent(id) %}selected{% endif %}>
						{{ title | e }}
					</option>
					{% endfor %}
				</optgroup>
				{% endfor %}
			</select>

			<script>
				new TomSelect("#{{ open_log.thing.urn.urn.replace(':', '-')}}-select", {
					plugins: ['remove_button'],
					create: true,
				});
			</script>

			<input type="hidden" name="urn" value="{{ open_log.thing.urn.urn }}">

			<div style="display: flex; margin-top: 0.5em; justify-content: space-between;">
				<label for="start_date" style="max-width:10em">Start Date
				<input id="{{ open_log.thing.urn.urn.replace(':', '-') }}-start-date" 
					name="start_date" type="date">
				</label>

				<label for="start" style="max-width:10em">Start Time
				<input id="{{ open_log.thing.urn.urn.replace(':', '-') }}-start-time" 
					type="text" class="time" name="start_time">
				</label>

				<script>
					var sd = document.getElementById("{{ open_log.thing.urn.urn.replace(':', '-') }}-start-date"),
					    st = document.getElementById("{{ open_log.thing.urn.urn.replace(':', '-') }}-start-time");

					// Convert this to a local (user preferred) timezone.
					[a, b] = unixToDateTime({{ open_log.thing.data.start('unix') }})
					sd.value = a;
					st.value = b;
				</script>

				<input name="start_unix" type="hidden">
				<input name="end_unix" type="hidden">

				<label for="runtime" style="max-width:10em">Duration
				<input type="text" name="runtime" value="..." disabled>
				</label>

				<button type="submit">Stop</button>
			</div>

			<label for="contents">Contents</label>
			<div name='contents'>
				{% for block in open_log.thing.data.get_contents() %}
				<div class="block existing" style="display: flex">
					<div style="display: flex; flex-direction: column; flex-grow: 1; padding-right: 0.5em">
						<button type="button" style="flex-grow: 1" onclick="insertbefore(this)">+⬆️</button>
						<button type="button" style="flex-grow: 1" onclick="remove(this)">❌</button>
						<button type="button" style="flex-grow: 1" onclick="insertafter(this)">+⬇️</button>
					</div>
					<div style="display: flex; flex-direction: column; flex-grow: 7">
						<select name="content_type">
							{% for bt in blocktypes %}
							<option value="{{ bt.value }}" {% if bt.value == block.type %}selected{% endif %}>{{ bt.pretty() }}</option>
							{% endfor %}
						</select>
						<input type="hidden" name="content_uuid" value="{{ block.id }}">
						<textarea name="content_note" placeholder="jrnl goes here" rows="10">{{ block.contents | e }}</textarea>
						<input type="hidden" name="content_author" value="{{ block.author.urn }}">
					</div>
				</div>
				{% endfor %}

				<div id='default-block' class="block" style="display: flex">
					<div style="display: flex; flex-direction: column; flex-grow: 1; padding-right: 0.5em">
						<button type="button" style="flex-grow: 1" onclick="insertbefore(this)">+⬆️</button>
						<button type="button" style="flex-grow: 1" onclick="remove(this)">❌</button>
						<button type="button" style="flex-grow: 1" onclick="insertafter(this)">+⬇️</button>
					</div>
					<div style="display: flex; flex-direction: column; flex-grow: 7">
						<select name="content_type">
							{% for bt in blocktypes %}
							<option value="{{ bt.value }}">{{ bt.pretty() }}</option>
							{% endfor %}
						</select>
						<input type="hidden" name="content_uuid" value="REPLACEME">
						<input type="hidden" name="content_author" value="urn:boshedron:account:hexylena"> <!-- TODO -->
						<textarea name="content_note" placeholder="jrnl goes here" rows="10"></textarea>
					</div>
				</div>
			</div>

			<label for="backend">Backend</label>
			<select id="backend" name="backend">
				{% for backend in oe.backends %}
				<option value="{{ backend.name }}" {% if open_log.backend.name == backend.name %}selected{%endif%}>{{ backend.description }} ({{ backend.name }})</option>
				{% endfor %}
			</select>
		</fieldset>
	</form>
	{% endfor %}


	<h2>Older Logs</h2>
	<table>
		<thead>
		</thead>
		<tbody>
			{% for (date, logs) in oe.group_by(oe.search(type='log', custom='not-open'), 'day') %}
			<tr>
				<td colspan="4" class="header">{{ date }}</td>
			</tr>
			{% for log in logs %}
			{% set u = log.thing.urn.urn %}
			<tr>
			<form method="post" action="/time/continue" data-urn="{{ u }}">
				<td><a href="{{ u }}#url">{{ log.thing.urn.urn }}#title</a></td>
				<td>
					{% if log.thing.data.parents %}
						{% for parent in log.thing.data.parents %}
							<a href="{{ parent.urn }}#url">{{ parent.urn }}#title</a>
						{% endfor %}
					{% endif %}
				</td>
				<td>
					<div style="display: flex">
						<input data-urn="{{u}}" id="{{u}}-sd" name="start_date" class="patch" type="date">
						<input data-urn="{{u}}" id="{{u}}-st" name="start_time" class="patch time" type="text">
					</div>
					<div style="display: flex">
						<input data-urn="{{u}}" id="{{u}}-ed" name="end_date" class="patch" type="date">
						<input data-urn="{{u}}" id="{{u}}-et" name="end_time" class="patch time" type="text">
					</div>
					<script>
						var [std, stt] = unixToDateTime({{ log.thing.data.start('unix') }});
						var [etd, ett] = unixToDateTime({{ log.thing.data.end('unix') }});

						document.getElementById("{{u}}-sd").value = std
						document.getElementById("{{u}}-st").value = stt
						document.getElementById("{{u}}-ed").value = etd
						document.getElementById("{{u}}-et").value = ett
					</script>
				</td>
				<td>
						<input name="start_unix" type="hidden" value="{{ log.thing.data.start('unix') }}">
						<input name="end_unix" type="hidden" value="{{ log.thing.data.end('unix') }}">
						<input type="hidden" name="urn" value="{{ log.thing.urn.urn }}">
						<input type="hidden" name="action" value="start">
						<button name="submit" type="submit">Continue</button>
						<button name="delete" type="button">Delete</button>
				</td>
			</form>
			</tr>
			{% endfor %}
			{% endfor %}
		</tbody>
	</table>


<script>
// https://stackoverflow.com/questions/105034/how-do-i-create-a-guid-uuid
function uuid() {
	return "10000000-1000-4000-8000-100000000000".replace(/[018]/g, c => { return (+c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> +c / 4).toString(16) });
}

if (document.querySelector('#default-block')){
	const template = document.querySelector('#default-block').outerHTML;
	if (document.querySelectorAll('#notes .block.existing').length > 0 ){
		document.querySelector('#default-block').remove();
	}

	function insertbefore(e){
		let block = e.parentElement.parentElement;
		block.insertAdjacentHTML('beforebegin', template.replaceAll('REPLACEME', uuid()))
	}

	function remove(e){
		let block = e.parentElement.parentElement;
		if (document.querySelectorAll('#notes .block').length == 1){
			block.insertAdjacentHTML('beforebegin', template.replaceAll('REPLACEME', uuid()))
		}

		block.remove();
	}

	function insertafter(e){
		let block = e.parentElement.parentElement;
		block.insertAdjacentHTML('afterend', template.replaceAll('REPLACEME', uuid()))
	}
}


function simple_time_to_hms(value) {
	if(value.length < 3) {
		h = parseInt(value)
		if (h < 7) {
			h += 12
		}

		return `${h.toString().padStart(2, "0")}:00:00`
	} else if(value.length < 4) {
		h = parseInt(value.toString().substring(0, 1))
		m = parseInt(value.toString().substring(1))

		// assume they mean PM?
		if (h < 7) {
			h += 12
		}
		return `${h.toString().padStart(2, "0")}:${m.toString().padStart(2, "0")}:00`
	} else if(value.length == 4) {
		h = parseInt(value.toString().substring(0, 2))
		m = parseInt(value.toString().substring(2))
		return `${h.toString().padStart(2, "0")}:${m.toString().padStart(2, "0")}:00`
	}
}

let now = new Date();

// Automatically updating the duration.
function Update(){
	now = new Date();
	[...document.querySelectorAll('.open-log')].forEach(form => {
		let start_date = form.querySelector('input[name="start_date"]').value,
		    start_time = form.querySelector('input[name="start_time"]').value,
		    start_unix = form.querySelector('input[name="start_unix"]')
		    end_unix = form.querySelector('input[name="end_unix"]');

		end_unix.value = luxon.DateTime.now().toUnixInteger();
		
		if(start_date !== "" && start_date != "None" && start_time !== "" && start_time != "None"){
			let start = luxon.DateTime.fromISO(`${start_date}T${start_time}`)
			start_unix.value = start.toUnixInteger();
			// Update the duration
			var duration = luxon.DateTime.now().diff(start)
			let runtime = form.querySelector('input[name="runtime"]')
			runtime.value = duration.toISOTime() === null ? duration.toISO() : duration.toISOTime();
		}
	})
}
Update();

function Patch(urn){
	console.log(`patch ${urn}`);
	let std = document.getElementById(`${urn}-sd`).value,
	    stt = document.getElementById(`${urn}-st`).value,
	    etd = document.getElementById(`${urn}-ed`).value,
	    ett = document.getElementById(`${urn}-et`).value,
	    st = luxon.DateTime.fromISO(`${std}T${stt}`),
	    et = luxon.DateTime.fromISO(`${etd}T${ett}`)

	const data = new URLSearchParams();
	data.append('urn', urn);
	data.append('start_unix', st.toUnixInteger());
	data.append('end_unix', et.toUnixInteger());
	document.querySelector(`form[data-urn="${urn}"] input[name="start_unix"]`).value = st.toUnixInteger()
	document.querySelector(`form[data-urn="${urn}"] input[name="end_unix"]`).value = et.toUnixInteger()

	fetch("/time", {
		method: "PATCH",
		body: data
	});
	/* TODO: handle errors */
}

[...document.querySelectorAll("input.time")].forEach(i => i.addEventListener('focus', () => i.select()));
[...document.querySelectorAll("input.time")].forEach(i => i.addEventListener('change', () => {
	i.value = simple_time_to_hms(i.value);
	Update();
}));

[...document.querySelectorAll("input.patch")].forEach(i => i.addEventListener('change', () => {
	Patch(i.dataset.urn)
}));

setInterval(function(){
	Update();
}, 5000);

</script>

{% endblock %}
