{% extends "base.html" %}

{% block title %}Log Time | {{ Config.Title | safe }}{% endblock %}

{% block main %}
	<hgroup>
	<h1>Time Tracker</h1>
	</hgroup>

	{% for open_log in oe.search(type='log', custom='open') %}
	<form  onsubmit="return false" class="open-log">
		<fieldset>
			<legend>Edit Log ({{ open_log.urn.urn }})</legend>

			<label for="name">Name</label>
			<input id="name" name="name" type="text" width="20" placeholder="What are you working on?" value="{{ open_log.data.title }}">

			<label for="project">Parent(s)</label>
			<select id="{{ open_log.urn.urn.replace(':', '-') }}-select" class="select-project" multiple data-placeholder="Parent(s)" name="project">
				{% for group in oe.query('select id, title_plain, type from __all__ group by type').groups %}
				<optgroup label="{{ group.title }}">
					{% for (id, title, type) in group.rows %}
					<option value="{{ id }}" -- if $.Note.HasParent $p.NoteId --selected-- end -->
						{{ title }}
					</option>
					{% endfor %}
				</optgroup>
				{% endfor %}
			</select>

			<script>
				new TomSelect("#{{ open_log.urn.urn.replace(':', '-')}}-select", {
					plugins: ['remove_button'],
					create: true,
				});
			</script>

			<input id="note_id" type="hidden" name="note_id" value="{{ open_log.urn.urn }}">

			<div style="display: flex; margin-top: 0.5em; justify-content: space-between;">
				<input type="hidden" value="{{ open_log.data.start_unix() }}" name="start_unix" >
				<label for="start_date" style="max-width:10em">Start Date
				<input name="start_date" type="date" value="{{ open_log.data.start_date() }}">
				</label>

				<label for="start" style="max-width:10em">Start Time
				<input type="text" id="start" name="start" value="{{ open_log.data.start_time() }}">
				</label>

				<label for="runtime" style="max-width:10em">Duration
				<input type="text" name="runtime" value="TODO">
				</label>

				<button type="submit">Stop</button>
			</div>


			<label for="notes">Contents</label>
			<div id="{{ open_log.urn.urn.replace(':', '-') }}-notes">
			{% for block in (open_log.data.contents or []) %}
				<button onclick="insertbefore('{{ open_log.urn.urn.replace(':', '-') }}-notes', '{{ block.id }}')">+</button>
				<input type="hidden" name="urn" value="{{ block.id }}">
				<textarea name="notes" placeholder="jrnl goes here" rows="10">{{ block.contents }}</textarea>
			{% endfor %}
			<button onclick="insertbefore('{{ open_log.urn.urn.replace(':', '-') }}-notes')">+</button>
			</div>

			<button type="submit">Save Notes</button>

		</fieldset>
	</form>
	{% endfor %}


	<h2>Older Logs</h2>
	<table>
		<thead>
		</thead>
		<tbody>
			{% for (date, logs) in oe.group_by(oe.search(type='log', custom='not-open'), 'day') %}
			<tr>
				<td colspan="4" class="header">{{ date }}</td>
			</tr>
			{% for log in logs %}
			<tr>
				<td><a href="{{ log.urn.urn }}#url">{{ log.urn.urn }}#title</a></td>
				<td>
					{% if log.data.parents %}
						{% for parent in log.data.resolve_parents(oe) %}
							<a href="{{ parent.urn.urn }}#url">{{ parent.urn.urn }}#title</a>
						{% endfor %}
					{% endif %}
				</td>
				<td>
					<div style="display: flex">
						<input name="start_date" type="date" value="{{ log.data.start_date() }}">
						<input name="start_time" type="text" value="{{ log.data.start_time() }}">
					</div>
					<div style="display: flex">
						<input name="end_date" type="date" value="{{ log.data.end_date() }}">
						<input name="end_time" type="text" value="{{ log.data.end_time() }}">
					</div>
				</td>
				<td>
					<form method="post">
						<input type="hidden" name="urn" value="{{ log.urn.urn }}">
						<input id="action" type="hidden" name="action" value="start">
						<button type="submit">Continue</button>
					</form>
				</td>
			</tr>
			{% endfor %}
			{% endfor %}
		</tbody>
	</table>


	<script>
		[...document.querySelectorAll("input[name='end_time'],input[name='start_time']")].forEach(i => i.addEventListener('focus', () => i.select()));
		[...document.querySelectorAll("input[name='end_time'],input[name='start_time']")].forEach(i => i.addEventListener('change', () => {
			if(i.value.length < 3) {
				h = parseInt(i.value)
				if (h < 7) {
					h += 12
				}

				i.value = `${h.toString().padStart(2, "0")}:00:00`
			} else if(i.value.length < 4) {
				h = parseInt(i.value.toString().substring(0, 1))
				m = parseInt(i.value.toString().substring(1))

				// assume they mean PM?
				if (h < 7) {
					h += 12
				}
				i.value = `${h.toString().padStart(2, "0")}:${m.toString().padStart(2, "0")}:00`
			} else if(i.value.length == 4) {
				h = parseInt(i.value.toString().substring(0, 2))
				m = parseInt(i.value.toString().substring(2))
				i.value = `${h.toString().padStart(2, "0")}:${m.toString().padStart(2, "0")}:00`
			}
		}));

		function insertbefore(par, id) {
			let ins = `
				<input type="hidden" name="block_id" value="">
				<label>Type
				<select>
					<option value="markdown">Markdown</option>
					<option value="query-table">Table</option>
					<option value="query-kanban">Kanban</option>
				</select>
				</label>
				<textarea name="notes" rows="5" placeholder="jrnl goes here"></textarea>
			`

			if (id === undefined){
				var e = document.getElementById(par)
				e.innerHTML = ins + e.innerHTML
			}
		}

	let now = new Date();
	function Update(){
		now = new Date();

		[...document.querySelectorAll('.open-log')].forEach(form => {
			start = form.querySelector('input[name="start_unix"]')
			if(start.value !== "None"){
				// Update the duration
				var duration = (now - (parseInt(start.value) * 1000)) / 1000

				hours = Math.floor(duration / 3600);
				minutes = Math.floor((duration - (hours * 3600)) / 60);
				seconds = Math.floor(duration - (hours * 3600) - (minutes * 60));

				let runtime = form.querySelectorAll('input[name="runtime"]')[0]
				runtime.value = `${hours.toString().padStart(2, "0")}:${minutes.toString().padStart(2, "0")}:${seconds.toString().padStart(2, "0")}`

			}
		})
	}
	Update();

	setInterval(function(){
		Update();
	}, 2000);

	</script>

{% endblock %}
